<div class="page-header mar-t">
<%= render "layouts/msg" %>
  <%= link_to new_thumbnail_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Thumbnail
  <% end %>
  <h1>Listing thumbnails</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
            <th style="width:80px;">Thumb title</th>
            <th>Thumb post</th>
            <th>Thumb image</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
      <tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @thumbnails) do |thumbnail| %>
            <td><%= thumbnail.thumb_title %></td>
            <td><%= thumbnail.thumb_post %></td>
            <td><%= thumbnail.thumb_image %></td>
            <td><%= link_to 'Show', thumbnail %></td>
        <td><%= link_to 'Edit', edit_thumbnail_path(thumbnail) %></td>
        <td><%= link_to 'Destroy', thumbnail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
