   <div class="col-lg-8 mar-t">
    <div class="news">
        <h6 style="margin-bottom:8px;">ពត៌មានប្រចាំថ្ងៃ</h6>
        <hr style="margin-top:0px;margin-bottom:10px;">
        <% @thumbnails.each do |thumb| %>
        <div class="col-lg-12">
        <div class="col-lg-6">
            <div class="po-image"><%= image_tag(thumb.thumb_image,size: "300x200")%></div>
        </div>
        <div class="col-lg-6">
            <div class="po-title"><h6><%= thumb.thumb_title %></h6></div>
            <div class="po-desc"><%#= thumb.thumb_post.html_safe %> <%= link_to "អាន​បន្ត", site_show_path(:thumbnail_id => thumb), style: "color:#1c7cb3;" %></div>
               <!--  <div class="align-time" style="font-size:12px;float:right;color:#1c7cb3;">
                </div> -->
        </div>
        </div>
        <% end %>

    </div>    
        <div class="pagination text-centered">
        <%= will_paginate(@thumbnails, renderer: BootstrapPagination::Rails) %>
    </div>
</div>

<%= render 'sidebar' %>