<div class="sidebar">
	<%= image_tag "naga.gif" %>
	<%= image_tag "ban.png" %>
	<%= image_tag "naga.gif" %>
	<%= image_tag "ban.png" %>
	<%= image_tag "naga.gif" %>
	<%= image_tag "ban.png" %>
	<%= image_tag "naga.gif" %>
	<%= image_tag "ban.png" %>
	<%= image_tag "naga.gif" %>
	<%= image_tag "ban.png" %>
</div>